*{
    padding: 0;
    margin: 0;
}
.navbar-light{
    background-color: #e3f2fd !important;
}
.create-user-div{
    margin-top: 80px;
}
.pull-right{
    float: right;
}
.create-heading{
    text-align: center;
}
.error{
    color: #ff3d00;
}
.select2-selection.select2-selection--single{
    height: 40px !important;
}
.select2-selection__rendered{
    line-height: 40px !important;
}
.select2-selection__arrow{
    top: 8px !important;
}
.post-text p{
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pull-left{
    float: left;
}
.post-body p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.post-div{
    -webkit-box-shadow: 0px 5px 32px -11px rgba(125,125,125,1);
    -moz-box-shadow: 0px 5px 32px -11px rgba(125,125,125,1);
    box-shadow: 0px 5px 32px -11px rgba(125,125,125,1);
    padding-top:15px;
    padding-bottom: 15px;
    margin-top: 25px;
}
.post-heading{
    margin-top: 50px;
}
.post-detail-div{

    -webkit-box-shadow: 0px 5px 32px -11px rgba(125,125,125,1);
    -moz-box-shadow: 0px 5px 32px -11px rgba(125,125,125,1);
    box-shadow: 0px 5px 32px -11px rgba(125,125,125,1);
    padding-top:15px;
    padding-bottom: 15px;
}
.post-text{
    margin-top: 10px;
}
.wrapper{
    margin-top: 50px;
    float: left;
    width: 100%;
}
.comment-div{
    background: #efefef;
    padding: 15px;
}
.comment-div{
    border-top: 1px solid #d3d3d3;
    float: left;
    width: 100%;
}
.btn{
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.margin-bottom-0{
    margin-bottom:0px;
}
.margin-top-bottom-0{
    margin-bottom: 0px !important;
    margin-top:0px !important;
}